/* ==UserStyle==
@name Switcher for DeepDark Themes
@namespace gitlab.com/RaitaroH/Import-All-Deepdark-DeepDark
@homepageURL https://gitlab.com/RaitaroH/Import-All-Deepdark-DeepDark
@version 2.0.0
@updateURL https://gitlab.com/RaitaroH/Import-All-Deepdark/raw/master/switcher.user.css
@description Change the colors for all DeepDark themes fast
@author RaitaroH
@license GNU-V3.0

@preprocessor stylus

@var select stylus-deepdark-style "Preset themes" [
	"Deep-Dark",
	"Inspired-Dark",
	"Breeze-Dark",
	"Breeze-Light",
  "HavocOS",
	"Arc-Dark",
	"Vertex-Dark",
	"Mint-Y-Dark",
	"Adapta-Nokto",
	"Adapta-Breath-Nokto",
	"Adapta-Light",
	"Adapta-Breath-Light",
	"Gruvbox-Dark",
	"Gruvbox-Light",
	"NierAutomata-Dark",
	"NierAutomata-Light",
	"Solarized-Dark",
	"Solarized-Light",
	"9anime",
	"Firefox-Dark",
	"Firefox-57",
	"Discord",
	"YouTube-Dark",
	"Black-and-White",
	"Yellow",
	"Yellow-2",
	"Ubuntu-Grey",
	"Ubuntu-Purple",
	"Orange",
	"Jisho",
	"Custom"
]
@var select colorRGB "Custom RGB color" [
	"Default",
	"Solarized",
	"Gruvbox Dark",
	"Gruvbox Dark Intense",
	"Gruvbox Light",
	"Gruvbox Light Intense",
	"Custom"
]

@var color mainColor "Custom main color" "#367bf0"
@var color mainBackground "Custom main background" "#22242d"
@var color secondBackground "Custom second background" "#242730"
@var color hoverBackground "Custom hover background" "#4e5467"
@var color mainText "Custom main text" "#eee"
@var color dimmerText "Custom second text" "#ccc"
@var color colorShadow "Custom shadow color" "rgba(56, 60, 74, .3)"
@var color colorRed "Custom red color" "#ff6666"
@var color colorYellow "Custom yellow color" "#ffb266"
@var color colorOrange "Custom orange color" "#f79a63"
@var color colorGreen "Custom green color" "#27ae60"
@var color colorCyan "Custom cyan color" "#1abc9c"
@var color colorBlue "Custom blue color" "#2980b9"
@var color colorPurple "Custom purple color" "#60459f"
@var color colorPink "Custom pink color" "#fe9ead"
@var color colorGray "Custom gray color" "#c3c3c3"

==/UserStyle== */

@-moz-document regexp("https?://.*"), regexp("moz-extension://.*"), regexp("chrome-extension://.*") {

/*Theme made by RaitaroH @https://gitlab.com/RaitaroH*/

/*GNU General Public License v3.0*/

	/*Main color variables*/
	:root
	{
		if stylus-deepdark-style == "Deep-Dark" {
			--main-color: #00adee !important;
			--main-background: #111 !important;
			--second-background: #181818 !important;
			--hover-background: #232323 !important;
			--main-text: #eff0f1 !important;
			--dimmer-text: #ccc !important;
			--editor-background: #181818 !important;
			--select-background: #232323 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .3) !important;
			--even-entry-background: rgba(0, 0, 0, .6) !important;
		}
		else if stylus-deepdark-style == "Inspired-Dark" {
			--main-color: #5e8acc !important;
			--main-background: #232629 !important;
			--second-background: #181818 !important;
			--hover-background: #515254 !important;
			--main-text: #eee !important;
			--dimmer-text: #ccc !important;
			--editor-background: #181818 !important;
			--select-background: #232323 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .16) !important;
		}
		else if stylus-deepdark-style == "Breeze-Dark" {
			--main-color: #3daee9 !important;
			--main-background: #232629 !important;
			--second-background: #2a2e32 !important;
			--hover-background: #31363b !important;
			--main-text: #eff0f1 !important;
			--dimmer-text: #bdc3c7 !important;
			--editor-background: #2a2e32 !important;
			--select-background: #31363b !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .16) !important;
		}
		else if stylus-deepdark-style == "Breeze-Light" {
			--main-color: #3daee9 !important;
			--main-background: #eff0f1 !important;
			--second-background: #fcfcfc !important;
			--hover-background: #dcdee0 !important;
			--main-text: #2a2e32 !important;
			--dimmer-text: #31363b !important;
			--editor-background: #fcfcfc !important;
			--select-background: #dcdee0 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .16) !important;
		}
		else if stylus-deepdark-style == "Vertex-Dark" {
			--main-color: #4080fb !important;
			--main-background: #2b2b2c !important;
			--second-background: #353638 !important;
			--hover-background: #515254 !important;
			--main-text: #f3f3f5 !important;
			--dimmer-text: #aeafb0 !important;
			--editor-background: #2b2b2c !important;
			--select-background: #515254 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .2) !important;
		}
		else if stylus-deepdark-style == "Arc-Dark" {
			--main-color: #5294e2 !important;
			--main-background: #343944 !important;
			--second-background: #383c4a !important;
			--hover-background: #414a59 !important;
			--main-text: #c1c8d1 !important;
			--dimmer-text: #b3bac5 !important;
			--editor-background: #343944 !important;
			--select-background: #414a59 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .16) !important;
		}
		else if stylus-deepdark-style == "Firefox-Dark" {
			--main-color: #5675b9 !important;
			--main-background: #272b35 !important;
			--second-background: #181d20 !important;
			--hover-background: #353a44 !important;
			--main-text: #e3eef9 !important;
			--dimmer-text: #bec0cc !important;
			--editor-background: #181d20 !important;
			--select-background: #353a44 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .16) !important;
		}
		else if stylus-deepdark-style == "Firefox-57" {
			--main-color: #4080fb !important;
			--main-background: #0c0c0d !important;
			--second-background: #252526 !important;
			--hover-background: #323234 !important;
			--main-text: #f9f9fa !important;
			--dimmer-text: #d0d0d0 !important;
			--editor-background: #252526 !important;
			--select-background: #323234 !important;
			--shadow: 0 1px 0.5px rgba(54, 54, 54, .2) !important;
			--even-entry-background: rgba(54, 54, 54, .4) !important;
		}
		else if stylus-deepdark-style ==  "Discord" {
			--main-color: #7289da !important;
			--main-background: #1e2124 !important;
			--second-background: #2f3136 !important;
			--hover-background: #484b51 !important;
			--main-text: #fff !important;
			--dimmer-text: #ada8aa !important;
			--editor-background: #2f3136 !important;
			--select-background: #484b51 !important;
			--shadow: 0 1px 0.5px rgba(47, 49, 54, .23) !important;
			--even-entry-background: rgba(47, 49, 54, .49) !important;
		}
		else if stylus-deepdark-style == "YouTube-Dark" {
			--main-color: #e52117 !important;
			--main-background: #111 !important;
			--second-background: #232323 !important;
			--hover-background: #343434 !important;
			--main-text: #e1e1e1 !important;
			--dimmer-text: #7f7f7f !important;
			--editor-background: #111 !important;
			--select-background: #343434 !important;
			--shadow: 0 1px 0.5px rgba(54, 54, 54, .2) !important;
			--even-entry-background: rgba(54, 54, 54, .4) !important;
		}
		else if stylus-deepdark-style == "Mint-Y-Dark" {
			--main-color: #9ab87c !important;
			--main-background: #2f2f2f !important;
			--second-background: #383838 !important;
			--hover-background: #404040 !important;
			--main-text: #fff !important;
			--dimmer-text: #d5dada !important;
			--editor-background: #2f2f2f !important;
			--select-background: #404040 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .23) !important;
		}
		else if stylus-deepdark-style == "9anime" {
			--main-color: #723f8c !important;
			--main-background: #0b0a0d !important;
			--second-background: #17151c !important;
			--hover-background: #1E1c25 !important;
			--main-text: #f9f6fb !important;
			--dimmer-text: #cac0cf !important;
			--editor-background: #17151c !important;
			--select-background: rgba(180, 180, 180, .1) !important;
			--shadow: 0 1px 0.5px rgba(54, 54, 54, .13) !important;
			--even-entry-background: rgba(54, 54, 54, .36) !important;
		}
		else if stylus-deepdark-style == "Black-and-White" {
			--main-color: #fff !important;
			--main-background: #000 !important;
			--second-background: #1e1e1e !important;
			--hover-background: #313131 !important;
			--main-text: #fff !important;
			--dimmer-text: #aaa !important;
			--editor-background: #0a0a0a !important;
			--select-background: #222 !important;
			--shadow: 0 1px 0.5px rgba(54 ,54 ,54, .2) !important;
			--even-entry-background: rgba(54 ,54 ,54, .4) !important;
		}
		else if stylus-deepdark-style == "Yellow" {
			--main-color: #ffc700 !important;
			--main-background: #141414 !important;
			--second-background: #202222 !important;
			--hover-background: #353838 !important;
			--main-text: #eff0f1 !important;
			--dimmer-text: #9f9999 !important;
			--editor-background: #202222 !important;
			--select-background: #353838 !important;
			--shadow: 0 1px 0.5px rgba(34, 34, 34, .2) !important;
			--even-entry-background: rgba(34, 34, 34, 1) !important;
		}
		else if stylus-deepdark-style == "Yellow-2" {
			--main-color: #ffc700 !important;
			--main-background: #0a0800 !important;
			--second-background: #0c0a04 !important;
			--hover-background: #0f0d05 !important;
			--main-text: #fffdf5 !important;
			--dimmer-text: #fff8e1 !important;
			--editor-background: rgba(12, 10, 4, .2) !important;
			--select-background: rgba(255, 253, 245, .1) !important;
			--shadow: 0 1px 0.5px rgba(34, 34, 34, .2) !important;
			--even-entry-background: rgba(34, 34, 34, 1) !important;
		}
		else if stylus-deepdark-style == "Ubuntu-Grey" {
			--main-color: #ef7847 !important;
			--main-background: #312d2a !important;
			--second-background: #3d3c38 !important;
			--hover-background: #59564d !important;
			--main-text: #f2f1ef !important;
			--dimmer-text: #e6e5e3 !important;
			--editor-background: #312d2a !important;
			--select-background: #59564d !important;
			--shadow: 0 1px 0.5px rgba(89, 86, 77, .12) !important;
			--even-entry-background: rgba(89, 86, 77, .21) !important;
		}
		else if stylus-deepdark-style == "Ubuntu-Purple" {
			--main-color: #ef7847 !important;
			--main-background: #2c071a !important;
			--second-background: #430b28 !important;
			--hover-background: #520D30 !important;
			--main-text: #f2f1ef !important;
			--dimmer-text: #e6e5e3 !important;
			--editor-background: #430b28 !important;
			--select-background: #520d30 !important;
			--shadow: 0 1px 0.5px rgba(82, 13, 48, .2) !important;
			--even-entry-background: rgba(82, 13, 48, .5) !important;
		}
		else if stylus-deepdark-style == "Orange" {
			--main-color: #ff6905 !important;
			--main-background: #0a0400 !important;
			--second-background: #0e0702 !important;
			--hover-background: #110903 !important;
			--main-text: #fff9f5 !important;
			--dimmer-text: #ffede1 !important;
			--editor-background: #110903 !important;
			--select-background: #47250a !important;
			--shadow: 0 1px 0.5px rgba(255, 105, 5, .1) !important;
			--even-entry-background: rgba(255, 105, 5, .1) !important;
		}
		else if stylus-deepdark-style == "Jisho" {
			--main-color: #ef7d6c !important;
			--main-background: #332222 !important;
			--second-background: #2a1b1b !important;
			--hover-background: #863b2f !important;
			--main-text: #EFB26C !important;
			--dimmer-text: #986E3F !important;
			--editor-background: #2a1b1b !important;
			--select-background: #863b2f !important;
			--shadow: 0 1px 0.5px rgba(37, 19, 5, .19) !important;
			--even-entry-background: rgba(37, 19, 5, .29) !important;
		}
		else if stylus-deepdark-style == "Adapta-Nokto" {
			--main-color: #00bcd4 !important;
			--main-background: #222d32 !important;
			--second-background: #263238 !important;
			--hover-background: #2a353b !important;
			--main-text: #fff !important;
			--dimmer-text: #9b9b9b !important;
			--editor-background: #263238 !important;
			--select-background: #3d4d56 !important;
			--shadow: 0 1px 0.5px  rgba(61, 77, 86, .2) !important;
			--even-entry-background: rgba(61, 77, 86, .3) !important;
		}
		else if stylus-deepdark-style == "Adapta-Breath-Nokto" {
			--main-color: #1abc9c !important;
			--main-background: #222d32 !important;
			--second-background: #263238 !important;
			--hover-background: #2a353b !important;
			--main-text: #fff !important;
			--dimmer-text: #9b9b9b !important;
			--editor-background: #263238 !important;
			--select-background: #2a353b !important;
			--shadow: 0 1px 0.5px  rgba(42, 53, 59, .32) !important;
			--even-entry-background: rgba(42, 53, 59, .62) !important;
		}
		else if stylus-deepdark-style == "Adapta-Light" {
			--main-color: #00bcd4 !important;
			--main-background: #fafbfc !important;
			--second-background: #ffffff !important;
			--hover-background: #eff0f1 !important;
			--main-text: #222d32 !important;
			--dimmer-text: #2a353b !important;
			--editor-background: #fafbfc !important;
			--select-background: #eff0f1 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .16) !important;
		}
		else if stylus-deepdark-style == "Adapta-Breath-Light" {
			--main-color: #1abc9c !important;
			--main-background: #fafbfc !important;
			--second-background: #ffffff !important;
			--hover-background: #eff0f1 !important;
			--main-text: #222d32 !important;
			--dimmer-text: #2a353b !important;
			--editor-background: #fafbfc !important;
			--select-background: #eff0f1 !important;
			--shadow: 0 1px 0.5px rgba(0, 0, 0, .13) !important;
			--even-entry-background: rgba(0, 0, 0, .16) !important;
		}
		else if stylus-deepdark-style == "Solarized-Dark" {
			--main-color: #268bd2 !important;
			--main-background: #073642 !important;
			--second-background: #03303c !important;
			--hover-background: #002b36 !important;
			--main-text: #fdf6E3 !important;
			--dimmer-text: #eee8d5 !important;
			--editor-background: #073642 !important;
			--select-background: #002b36 !important;
			--shadow: 0 1px 0.5px  rgba(0, 43, 54, .3) !important;
			--even-entry-background: rgba(0, 43, 54, .5) !important;
		}
		else if stylus-deepdark-style == "Solarized-Light" {
			--main-color: #268bd2 !important;
			--main-background: #fdf6e3 !important;
			--second-background: #f5efdc !important;
			--hover-background: #eee8d5 !important;
			--main-text: #073642 !important;
			--dimmer-text: #586e75 !important;
			--editor-background: #f5efdc !important;
			--select-background: #ded8c4 !important;
			--shadow: 0 1px 0.5px  rgba(222, 216, 196, .2) !important;
			--even-entry-background: rgba(222, 216, 196, .3) !important;
		}
		else if stylus-deepdark-style == "Gruvbox-Dark" {
			--main-color: #fe8019 !important;
			--main-background: #1d2021 !important;
			--second-background: #282828 !important;
			--hover-background: #3c3836 !important;
			--main-text: #fbf1c7 !important;
			--dimmer-text: #ebdbb2 !important;
			--editor-background: #282828 !important;
			--select-background: #3c3836 !important;
			--shadow: 0 1px 0.5px  rgba(60, 56, 54, .22) !important;
			--even-entry-background: rgba(60, 56, 54, .33) !important;
		}
		else if stylus-deepdark-style == "Gruvbox-Light" {
			--main-color: #af3a03 !important;
			--main-background: #f9f5d7 !important;
			--second-background: #fbf1c7 !important;
			--hover-background: #ebdbb2 !important;
			--main-text: #282828 !important;
			--dimmer-text: #3c3836 !important;
			--editor-background: #f9f5d7 !important;
			--select-background: #ebdbb2 !important;
			--shadow: 0 1px 0.5px  rgba(235, 219, 178, .33) !important;
			--even-entry-background: rgba(235, 219, 178, .36) !important;
		}
		else if stylus-deepdark-style == "NierAutomata-Dark" {
			--main-color: #fe8019 !important;
			--main-background: #33302a !important;
			--second-background: #48453c !important;
			--hover-background: #7c6f64 !important;
			--main-text: #dad4bb !important;
			--dimmer-text: #bab5a1 !important;
			--editor-background: #33302a !important;
			--select-background: #7c6f64 !important;
			--shadow: 0 1px 0.5px  rgba(124, 111, 100, .15) !important;
			--even-entry-background: rgba(124, 111, 100, .21) !important;
		}
		else if stylus-deepdark-style == "NierAutomata-Light" {
			--main-color: #fe8019 !important;
			--main-background: #d1cdb7 !important;
			--second-background: #dcd8c0 !important;
			--hover-background: #bab5a1 !important;
			--main-text: #48453c !important;
			--dimmer-text: #33302a !important;
			--editor-background: #dcd8c0 !important;
			--select-background: #bab5a1 !important;
			--shadow: 0 1px 0.5px rgba(186, 181, 161, 2) !important;
			--even-entry-background: rgba(186, 181, 161, .3) !important;
		}
		else if stylus-deepdark-style == "HavocOS" {
			--main-color: #0794d4 !important;
			--main-background: #141618 !important;
			--second-background: #1c1e20 !important;
			--hover-background: #212528 !important;
			--main-text: #fff !important;
			--dimmer-text: #b9baba !important;
			--editor-background: #1c1e20 !important;
			--select-background: #212528 !important;
			--shadow: 0 1px 0.5px rgba(185, 186, 186, .04) !important;
			--even-entry-background: rgba(185, 186, 186, .05) !important;
		}
		else if stylus-deepdark-style == "Custom" {
			--main-color: mainColor !important;
			--main-background: mainBackground !important;
			--second-background: secondBackground !important;
			--hover-background: hoverBackground !important;
			--main-text: mainText !important;
			--dimmer-text: dimmerText !important;
			--editor-background: editorBackground !important;
			--select-background: selectBackground !important;
			--shadow: 0 1px 0.5px colorShadow !important;
			--even-entry-background: colorEvenEntry !important;
		}

		if colorRGB == "Default"
		{
			--red: #da4453 !important;
			--yellow: #fdbc4b !important;
			--orange: #F79A63 !important;
			--green: #27AE60 !important;
			--cyan: #1abc9c !important;
			--blue: #2980b9 !important;
			--purple: #60459F !important;
			--pink: #FE9EAD !important;
			--gray: #c3c3c3 !important;
		}
		else if colorRGB == "Solarized"
		{
			--red: #dc322f !important;
			--yellow: #b58900 !important;
			--orange: #cb4b16 !important;
			--green: #859900 !important;
			--cyan: #2aa198 !important;
			--blue: #268bd2 !important;
			--purple: #6c71c4 !important;
			--pink: #d33682 !important;
			--gray: #93A1A1 !important;
		}
		else if colorRGB == "Gruvbox Dark"
		{
			--red: #cc241d !important;
			--yellow: #d79921 !important;
			--orange: #d65d0e !important;
			--green: #98971a !important;
			--cyan: #689d6a !important;
			--blue: #458588 !important;
			--purple: #b16286 !important;
			--pink: #b16286 !important;
			--gray: #a89984 !important;
		}
		else if colorRGB == "Gruvbox Dark Intense"
		{
			--red: #fb4934 !important;
			--yellow: #fabd2f !important;
			--orange: #fe8019 !important;
			--green: #b8bb26 !important;
			--cyan: #8ec07c !important;
			--blue: #83a598 !important;
			--purple: #d3869b !important;
			--pink: #d3869b !important;
			--gray: #928374 !important;
		}
		else if colorRGB == "Gruvbox Light"
		{
			--red: #cc241d !important;
			--yellow: #d79921 !important;
			--orange: #d65d0e !important;
			--green: #98971a !important;
			--cyan: #689d6a !important;
			--blue: #458588 !important;
			--purple: #b16286 !important;
			--pink: #b16286 !important;
			--gray: #7c6f64 !important;
		}
		else if colorRGB == "Gruvbox Light Intense"
		{
			--red: #9d0006 !important;
			--yellow: #b57614 !important;
			--orange: #af3a03 !important;
			--green: #79740e !important;
			--cyan: #427b58 !important;
			--blue: #076678 !important;
			--purple: #8f3f71 !important;
			--pink: #8f3f71 !important;
			--gray: #928374 !important;
		}
		else if colorRGB == "Custom"
		{
			--red: colorRed !important;
			--yellow: colorYellow !important;
			--orange: colorOrange !important;
			--green: colorGreen !important;
			--cyan: colorCyan !important;
			--blue: colorBlue !important;
			--purple: colorPurple !important;
			--pink: colorPink !important;
			--gray: colorGray !important;
		}
	}
	/*Changed text highlight*/
	::selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
	::-moz-selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
}
